/* What we do Section */


/* Overall styling */
.whatDo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

/* Overall text layout styling */
.text-whatDo {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 120px 100px;
}

/* Title styling */
.title-whatDo {
    font-size: 65px;
    margin-bottom: 20px;
    font-family: 'Almarai', serif;
    font-weight: 465;
    letter-spacing: -3px;
    transform: scaleY(1.3) translateX(-25px);
    transform: scaleX(0.85);
    transform-origin: top left;
}

/* Paragraph styling */
.paragraph-whatDo {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
}

/* Signup button styling */
.signup-whatDo {
    background-color: black;
    color: white;
    padding: 6px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    width: auto;
    align-self: flex-start;
}

/* Image styling */
.img-whatDo {
    height: auto;
    width: 100%;
    max-width: 700px;
    padding-right: 50px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

/* Media Query for Mobile View (responsive design) for Consultant Section */
@media (max-width: 768px) {
    .img-whatDo {
        display: none;
    }

    /* Mobile-specific layout */
    .whatDo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 5px;
    }

    /* Mobile-specific styling for text section */
    .text-whatDo {
        padding: 20px;
        text-align: center;
        max-width: 100%;
    }

    /* Mobile-specific font size for title */
    .title-whatDo {
        font-size: 50px;
        text-align: center;
        margin-bottom: 20px;
    }

    /* Mobile-specific styling for paragraph */
     .paragraph-whatDo {
        font-size: 16px;
    }

    /* Mobile-specific styling for signup button */
    .signup-whatDo {
        font-size: 14px;
        padding: 10px 20px;
        margin-top: 20px;
        display: inline-block;
    }
}


/* Styling for the Leadership team section */
.leadership {
    text-align: center;
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebf1f4;
}

.title-leadership {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Almarai', serif;

    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Almarai', serif;
    font-weight: 600;
    transform: scaleY(1.3) translateX(-25px);
    transform: scaleX(0.8);
    background-color: #ebf1f4;

}

/* Container for the leadership cards */
.leadership-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
    background-color: #ebf1f4;

}

/* Each leader card */
.leadership-card {
    flex: 0 0 auto;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 0;
    background-color: white;
}

.leadership-img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    margin-bottom: 10px;
}

.leadership-info {
    font-size: 1em;
    padding: 0 15px;
}

.leadership-name {
    font-weight: 450;
    margin: 0;
    color: #174267;
    font-size: 20px;
}

.leadership-title {
    font-style: italic;
    margin: 0;
    color: #777;
}

@media (max-width: 768px) {
    .leadership-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
